@charset "UTF-8";


div#interface {
    width: 1000px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
    padding: 20px;
    background-color: #72bccc;
}

<!-- configuração do cabeçalho>

header h1{
    font-family: Arial, sans-serif;
    font-size: 70px;
    color: #0c0b0b;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 5px;
    margin-bottom: 0px;
}  
header  h2{
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 25px;
    padding: 5px;
    margin-top: 0px;
}
header p {
    text-align: justify;
    margin: 10px;
}
h2 {
    color:  #333232;
}


<!--Formatação do Menu-->
nav#menu {
    display: block;
    
}
nav#menu ol {
    list-style: none;
    text-transform:  uppercase;
    position:  absolute;
    top: -10px;
    left: 660px;
}
nav#menu li {
    display:  inline-block;
    background-color: #C0C0C0;
    padding:  5px;
    margin:  6px;
    transition: backround-color 1s;
}
nav#menu li:hover {
    background-color: #4169E1;
}
nav#menu h1 {
    display: none;
}
nav#menu a{
    color: #000000;
    text-decoration: none;
}
nav#menu a:hover{
    color: #ffffff;
}

body {
    color; rgba(0,0,0,1);
    background: #bce2eb;
}

img {
    height: 450px;
    margin: 50px;
    padding: 80px;
}

p{
  text-align: justify;
  text-indent:  50px;
}
<!-- este é o corpo-->
section#corpo {
    display: block;
    width: 250x;
    float: left;
    border-right: 1px solid #000000;
    padding-right: 15px;
}

footer#rodape {
    clear: both;
    border-top: #000000 solid 1px;
}
